.whatsapp {
    clear: both;
    border-radius: 4px;
    /*padding: 10px 0;*/
}

.whatsapp:focus {
    border: 0;
    outline: none !important;
}

.whatsapp span {
    border-radius: 4px;
    background: #25D366;
    color: #fff;
    font-size: 18px;
    padding: 6px 6px;
    display: inline-block;
    outline: none;
}

.whatsapp a:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.whatsapp-icon {
    position: relative;
    background-image: url('../../img/logos/icono_whatsapp.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    height: 70px;
    width: 70px;
    /*margin-right: 4px;*/
    /*top: 13px;*/
    vertical-align: middle;
}

.whatsapp i.icon-whatsapp {
    font-size: 21px;
    line-height: 21px;
    padding-right: 7px;
}

.whatsapp.left {
    text-align: left;
    left: 0;
    float: left;
}

.whatsapp.center {
    text-align: center;
    left: 48%;
}

.whatsapp.right {
    text-align: right;
    right: 0;
    float: right;
}
.whatsapp.bottom-left {
    left: 0;
}

.whatsapp.bottom-right {
    right: 0;
}

.whatsapp-hookDisplayFooter {
    clear: none;
}

.whatsapp-hookDisplayNav {
    clear: none;
    float: left;
    margin-left: 15px;
    padding: 0;
}

.whatsapp-hookDisplayNav span {
    float: left;
    padding: 5px 0 10px;
    line-height: 18px;
    background: none;
}

.whatsapp-hookDisplayNav .whatsapp-icon {
    background-image: url('../img/whatsapp-green.png');
    top: 0;
    vertical-align: baseline;
}

.whatsapp-hookDisplayNav i.icon-whatsapp {
    vertical-align: 0;
}

.whatsapp-badge {
    position: fixed;
    bottom: 0;
    z-index: 999999;
    margin: 10px;
    width: auto !important;
}

.whatsapp-top {
    position: fixed;
    top: 0;
    z-index: 999999;
    margin: 10px;
    width: auto!important;
}

.whatsapp-bottom {
    position: fixed;
    bottom: 0;
    z-index: 999999;
    margin: 10px;
    width: auto!important;
}

.whatsapp-topWidth {
    padding: 0;
    text-align: center;
    border-radius: 0!important;
    z-index: 999999;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.whatsapp-topWidthS {
    position: fixed;
    top: 0;
    z-index: 999999;
    margin: 0;
    padding: 0;
    width: 100%!important;
    border-radius: 0!important;
    left: 0!important;
}

.whatsapp-bottomWidth {
    position: fixed;
    bottom: 0;
    z-index: 999999;
    margin: 0;
    padding: 0;
    width: 100%!important;
    border-radius: 0!important;
    left: 0!important;
}

.whatsapp-shortcode {
    width: auto;
    display: inline-block;
}

.whatsapp-shortcode.center {
    width: auto;
    display: block!important;
}

/** FLOATING BUTTON **/

.label-container{
    position:fixed;
    bottom:30px;
    right:85px;
    display:table;
    visibility: hidden;
}

.label-container-left{
    position:fixed;
    bottom:30px;
    left:90px;
    display:table;
    visibility: hidden;
}

.label-container-center{
    position:fixed;
    bottom:30px;
    left:51.5%;
    display:table;
    visibility: hidden;
}

.label-text{
    color:#FFF;
    background:rgba(51,51,51,0.5);
    display:table-cell;
    vertical-align:middle;
    padding:10px;
    border-radius:3px;
}

.label-arrow{
    display:table-cell;
    vertical-align:middle;
    color:#333;
    opacity:0.5;
}

.float-center{
    position:fixed;
    width:60px;
    height:60px;
    bottom:25px;
    left:48%;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}

.float-left{
    position:fixed;
    width:60px;
    height:60px;
    bottom:25px;
    left:25px;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}

.float-right{
    position:fixed;
    width:60px;
    height:60px;
    bottom:25px;
    right:25px;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}

.float-floatingButton{
    z-index: 9999999;
}

.float-floatingButtonCenter{
    top:46%;
    z-index: 9999999;
}

.float-floatingButtonTop{
    top: 3%;
    z-index: 9999999;
}

.my-float{
    font-size:24px;
    margin-top:18px;
}

a.float {
    outline: none!important;
}

a.float + div.label-container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
    visibility: visible;
    opacity: 1;
}

.float .fa-whatsapp:before {
    font-size: xx-large;
    top: 14px;
    left: 1px;
    position: relative;
}
